<!--
  Generated template for the HcfMappingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title text-center>Locate HCF</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-bounce>
    <!--Show Health Care Facilities Toggle-->
    
    <div style="width:100%; height: 10%;">
      
      <!-- <ion-item>
        <ion-label>Show Health Care Facilities</ion-label>
        <ion-toggle [(ngModel)]="requestshow" (ngModelChange)="showRequest($event)" ></ion-toggle>
      </ion-item> -->

      <ion-grid>
        <ion-row>
          <ion-col>      
            <ion-item>
              <ion-label>HCF</ion-label>
              <ion-toggle [(ngModel)]="HCFshow" (ngModelChange)="showHCF($event)" ></ion-toggle>
            </ion-item>
          </ion-col>
          <ion-col>      
            <ion-item>
              <ion-label>Emergency</ion-label>
              <ion-toggle [(ngModel)]="emergencyshow" (ngModelChange)="showEmergency($event)" ></ion-toggle>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div text-center id="looking">
      <button ion-button full>waiting for responder</button>
    </div>
    <!--End Show Health Care Facilities Toggle-->
      <!-- <ion-grid>
        <ion-row> -->
          <!-- <div *ngIf="looking==true">
            <button ion-button class="reportBtn" block>waiting for responder</button> 
          </div> -->
        <!-- </ion-row>
      </ion-grid> -->
    <!-- <button style=" position: absolute; width: 100%" *ngIf="looking==true" ion-button class="reportBtn" block>waiting for responder</button>  -->
  <div id="map" style="width:100%; height: 90%;">
  </div>
</ion-content>

<ion-footer text-center>
  <button ion-button class="reportBtn" (click)="PushReportEventPage()">Report Event</button>
  <button ion-button class="reportBtn" (click)="PushCallForHelpPage()">Call for Help</button>
  <button ion-button class="reportBtn" (click)="PushCheckOnPage()">Please Check On</button>
  
</ion-footer>
