page-request-visualization {
   .bottomButton{
       height: 10%;
   }
   .hidden {
       display: none ;
   }

   .number-icon
   {
       background-image: url("../../assets/imgs/marker_hole.png");
       text-align:center;
       color: black;    
   }
}
